body {
    background-color: #D89CF6;
}

.flex-container {
    height: 200px;
}

.flex-start{
    align-items: flex-start;
}


.flex-center{
    align-items: flex-center;
}


.flex-end{
    align-items: flex-end;
}